<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        required
      />
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
      Submit
    </button>
    <hr />
    <button type="button" class="btn btn-link" routerLink="/register">
      Register
    </button>
    <button type="submit" class="btn btn-link" routerLink="/recover">
      Reset Password
    </button>
  </form>
  
